
body{
  background-color:#AE445A;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F39F5A;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:#451952;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; 
}


.top {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 10vh;
  padding: 5px; 
}



.get-user-button:hover {
  background-color: #2980b9;
  color:whitesmoke
}

.get-users-button:hover {
  background-color: #2980b9;
  color:whitesmoke
}

.sort-button:hover{
  background-color: #2980b9;
  color:whitesmoke;
  margin-right:2px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1px; 
  border-radius: 10px;
  margin-top:200px;
}

.card {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 400px;
  height: 300px; 
  margin: 10px; 
  position: relative; 
}

.banner {
  background-color:#662549;
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 10px 0 0; 
}
.image-container {
  position: relative;
  z-index: 1;
}

.rounded-image {
  padding-top: 10px;
  border-radius: 50%;
  width: 100px; 
  height: 100px; 
}
